$primary: #42b983;

.cvl-paginations{
     &-item{
         padding: 5px 10px;
         margin: 0 10px;
         font-size: 12px;
         color: #666;
         border-radius: 3px;
         border: 1px solid #eee;
         cursor: pointer;
         &:hover{
             background-color: #f9f9f9;
         }
         &-active{
             color: $primary;
             cursor: default;
             border-color: fade-out($primary,.5);
             &:hover{
                 background-color: transparent;
             }
         }
     }  
}